body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #5bd350;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header {
    background: #50b3a2;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}
header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header ul {
    padding: 0;
    list-style: none;
}
header li {
    display: inline;
    padding: 0 20px 0 20px;
}
.showcase {
    min-height: 400px;
    background: url('https://via.placeholder.com/1500x400') no-repeat 0 -400px;
    text-align: center;
    color: #fff;
}
.showcase h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}
.showcase p {
    font-size: 20px;
}
.button {
    display: inline-block;
    color: #fff;
    background: #e8491d;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 20px;
}
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    margin-top: 30px;
}



.carousel {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
}
.carousel-images {
    display: flex;
    transition: transform 0.8s ease-in-out;
}
.carousel-images img {
    width: 100%;
    height: auto;
}
.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: rgb(231, 4, 4);
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
}
.carousel-button.prev {
    left: 50px;
}
.carousel-button.next {
    right: 50px;
}
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    margin-top: 30px;
}
.social-icons {
    margin: 20px 0;
}
.social-icons a {
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    font-size: 32px;
}